
        body {
          background-color:#F4F4ED;
        }
        
        h1 {
          color: #72ddf7;
          text-align: center;
        }
        
        p {
            color: #8093F1;
          font-family: verdana;
          font-size: 20px;
        }
       